body {
    background-color: #fff;
}
.header {
    margin: 0 auto;
    max-width: 1140px;
    height: 80px;
}
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    margin: 29px 0 0 15px;
}
.img-logo {
    width: 140px;
    height: 22px;
}
.menu-nav {
    display: flex;
}